{% load static %}

{% load menu_template_tag %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/index_style.css' %}">
    <title>Fruits</title>
</head>
<body>
    <div class="menu_block">
        <div class="menu">
          {% draw_menu "red_menu" %}
        </div>
  
        <div class="menu">
          {% draw_menu "car_menu" %}
        </div>
  
    </div>
</body>
</html>